PbO-CCSAT_object_oriented_version_source_code/PbO-CCSAT
PbO-CCSAT_object_oriented_version_source_code/src/*.o

PbO-CCSAT_process_oriented_version_source_code/PbO-CCSAT
PbO-CCSAT_process_oriented_version_source_code/src/*.o